.bg{
    background-color:var(--color-bg);
    display:grid;
    width:100%;
    grid-template-rows: 323.84px 323.84px;
    grid-template-columns:auto auto auto;
    grid-column-gap: 3.5rem;
    grid-row-gap:3.0rem;
}
.bg div img{
    width:100%;
    height: 40%;
}
.bg div:nth-child(1) img{
    width:100%;
    height: 40%;
}
.bg div:nth-child(1){
grid-row-start: 1;
grid-row-end: 3;
}
.blue-content{
    background-color: #042D55;
    color:white;
    height:193.37px;
    font-family: Manrope;
    text-align: left;
    padding:0.3rem 1.2rem 1.5rem;
}
.blue-content h1{
    font-size: 19.32px;
    font-weight: 800;
}
.blue-content p{
    font-size: 10px;
    font-weight: 700;
    line-height: 3rem;
    opacity: 0.7;
}
.blue-content button{
    display: block;
    border:none; 
    font-size: 10px;
    font-weight: 700;
    background-color:var(--color-blog);
    color:white;
    opacity:0.8;
    cursor:pointer;
    margin:0 auto;
    line-height: 34.95px;
}
.aricle-section{
    background-color:var(--color-blog);
}
.aricle-section img{
    background-color:var(--color-bg);
}
@media (max-width:1010px) {
    .bg{
        grid-column-gap: 2.5rem;
        grid-row-gap:3.0rem;
    }
    .blue-content h1{
        font-size: 15px;
        font-weight: 800;
    }
}
@media (max-width:650px) {
    .bg{
        grid-column-gap:1.5rem;
        grid-template-rows:auto 310px 310px;
    }
    
    .bg div:nth-child(1){
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 4;
    }
    .bg div:nth-child(1) img{
        height:60%;
    }
    .bg div:nth-child(3){
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-end: span 2;
        grid-column-start: 1;
    }
    div:nth-child(4){
        grid-row-start: 2;
        grid-row-end: 3;
        /* grid-column-start: span 1.5; */
        grid-column-end: 4;
    }
    div:nth-child(5){
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-end: span 2;
        grid-column-start: 1;
    }
    div:nth-child(6){
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 3;
    }
    .blue-content h1{
        font-size: 13px;
        font-weight: 800;
    }
    .blue-content{
        padding-top:0.1rem;
        padding-bottom:0;
    }
}